<% status_options = Question::VALID_STATUSES %>

<%= form_with model: [ @question, @question.answers.build ] do |form| %>
  <div>
    <%= form.label :answer %><br>
    <%= form.text_field :body %>
  </div>
  <div>
    <%= form.label :status %><br>
    <%= form.select :status, status_options, selected: status_options.first %>
  </div>
  <div class="submit"><%= form.submit %></div>
<% end %>